<!-- Hero -->

<section id="home">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-wrapper">
            <img
              class="flag-img"
              src="/img/palestine-flag.svg"
              alt="palestine flag icon"
            />
            <h1>
              Palestine Tech Jobs
            </h1>
            <h4 style="margin-bottom: 48px;" class="subtitle">
              A new platform to find remote tech jobs, <br />
              designed for Palestinians - coming soon in Jan 2020!
            </h4>

            <div class="mc-field-group hero-flex-form">
              <input
                placeholder="Enter your email address..."
                type="email"
                value=""
                name="EMAIL"
                class="required email custom-input"
                id="custom-hero-email"
                style="background-color: #f8f8f8;"
              />

              <a
                class="ebook-button"
                data-toggle="modal"
                data-target="#signup-modal"
                target="_blank"
                >Join Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-wrapper {
    padding-top: 100px;
    padding-bottom: 20%;
  }

  .hero-wrapper h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .hero-wrapper h4 {
    color: #fff;
    font-weight: normal;
    max-width: 900px;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .hero-flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-wrapper .ebook-button {
    width: 100%;
    line-height: inherit;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
  }

  @media screen and (min-width: 768px) {
    .hero-wrapper {
      padding-top: 200px;
    }

    .hero-wrapper h1 {
      font-size: 55px;
    }

    .hero-wrapper .custom-input {
      width: 45%;
      margin-right: 15px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    .hero-wrapper .ebook-button {
      width: 25%;
    }

    .hero-flex-form {
      flex-direction: row;
    }
  }
</style>
