<!-- About Section -->
<section class="about-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="marketing-wrapper">
          <div class="section-head">
            <h1 class="marketing-title">
              <strong>Join</strong> the world's <em> first</em> online platform
              for remote tech workers in Palestine.<br />
            </h1>
          </div>

          <ul>
            <li>
              <h4>
                → &nbsp;Find high-paying remote jobs, working with a wide range
                of UK and international companies.
              </h4>
            </li>
            <li>
              <h4>
                → &nbsp;No more middle-men, speak directly with potential
                employers and receive 100% of the contract. 
              </h4>
            </li>

            <li>
              <h4>
                → &nbsp;Search for roles in a number of fields such as Software Engineering, UX / UI Design, Digital Marketing, Product Management and Data Science.                
              </h4>
            </li>

            <li>
              <h4>
                → &nbsp;Share advice and connect with other Palestinians both at
                home and abroad on how to get your dream job.
              </h4>
            </li>            
          </ul>
          <div style="margin: 48px auto;">
            <p class="teaser">
              Sounds good?
            </p>

            <div class="about-flex-form">
              <input
                placeholder="Enter your email address..."
                type="email"
                value=""
                name="EMAIL"
                class="required email custom-input"
                id="custom-hero-email"
                style="background-color: #f8f8f8;"
              />

              <a
                class="ebook-button"
                style="margin-bottom: 20px;"
                data-toggle="modal"
                data-target="#signup-modal"
                target="_blank"
                >Join now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- insert copy here -->
      </div>
    </div>
  </div>
</section>

<style>
  .about-flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .about-flex-form {
      flex-direction: row;
    }
  }

  .about-flex-form .ebook-button {
    width: 100%;
    line-height: inherit;
    border-radius: 8px;
    margin-left: 0;
    padding: 16px;
  }

  @media screen and (min-width: 768px) {
    .about-flex-form .ebook-button {
      width: 50%;
      margin-left: 20px;
      padding: 14px;
    }
  }
</style>
