<!-- Hero -->
<style>
  .hero-wrapper {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .hero-wrapper h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
  }
  .hero-wrapper .subtitle {
    color: #fff;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    font-size: 30px;
  }
</style>

<section id="home">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-wrapper">
            <h1>We are coming soon.</h1>
            <div class="subtitle">
              Join the world's first online community for tech jobs in
              Palestine.
            </div>
            <!-- INSERT EMAIL FORM ELEMENTS HERE: -->
            <div class="mc-field-group">                
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="required email custom-input"
                  id="mce-EMAIL"
                />
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
