<!-- Sign up Modal -->
<div
  class="portfolio-modal modal fade"
  id="signup-modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="ebook-modal-wrapper">
    <!-- Begin Mailchimp Signup Form -->
    <div class="custom-form-body" id="mc_embed_signup">
      <button
        class="ebook-modal-close-button"
        data-dismiss="modal"
        tabindex="1"
      >
        <svg viewBox="0 0 384 512" style="display:block;height:18px;width:18px">
          <path
            d="M231.6 256l130.1-130.1c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L192 216.4 61.9 86.3c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17L152.4 256 22.3 386.1c-4.7 4.7-4.7 12.3 0 17l22.6 22.6c4.7 4.7 12.3 4.7 17 0L192 295.6l130.1 130.1c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17L231.6 256z"
          ></path>
        </svg>
      </button>
      <form
        action="https://gmail.us20.list-manage.com/subscribe/post?u=2da418bea9a79935e9fd2626e&amp;id=d286972ccf"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <h2 style="margin-bottom: 0; text-align: center">
            Just one more thing!
          </h2>
          <div
            style="width: 50%;
              border-top: 1.1px solid rgb(216, 216, 216); margin: 10px auto 20px auto"
          ></div>

          <!-- This needs to be prefilled. -->
          <div class="mc-field-group custom-form-wrapper">
            <label
              style="margin-bottom: 10px; font-weight: 500; font-size: 18px;"
              for="mce-EMAIL"
              >Your email address:
            </label>
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email custom-input"
              id="mce-EMAIL"
            />
          </div>

          <div class="mc-field-group custom-form-wrapper">
            <label
              style="margin-bottom: 10px; font-weight: 500; font-size: 18px; text-align: center;"
              for="mce-MMERGE3"
              >What are your salary expectations per month (in US dollars)? 
            </label>
            <input 
            type="number"
            value=""
            name="MMERGE3"
             placeholder="Example: 900" 
             class="required custom-input" 
             id="mce-MMERGE3" />
          </div>
          </div>

          <div class="mc-field-group custom-form-wrapper">
            <label
              style="margin-bottom: 10px; font-weight: 500; font-size: 18px;"
              for="mce-MMERGE2"
              >What role are you looking for?
            </label>

            <select              
              name="MMERGE2"
              class="required"
              id="mce-MMERGE2"
            >
              <option disabled selected hidden value="">Choose one...</option>
              <option value="Product Manager">Product Manager</option>
              <option value="Software Engineer">Software Engineer</option>
              <option value="Digital Marketing">Digital Marketing</option>
              <option value="UI / UX Designer">UI / UX Designer</option>
              <option value="Data Scientist">Data Scientist</option>
              <option value="Sales Manager">Sales Manager</option>
              <option value="Business Analyst">Business Analyst</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div id="mce-responses" class="clear">
            <div              
              class="response custom-response"
              id="mce-error-response"
              style="display:none"
            ></div>
            <div              
              class="response custom-response"
              id="mce-success-response"
              style="display:none"
            ></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_2da418bea9a79935e9fd2626e_d286972ccf"
              tabindex="-1"
              value=""
            />
          </div>
          <div class="custom-form-wrapper">
            <input
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button custom-button"
            />
          </div>
        </div>
      </form>
    </div>

    <script type='text/javascript' src ='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
    </script> 
    <script type='text/javascript'>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[3] = 'MMERGE3';
      ftypes[3] = 'number';
      fnames[2] = 'MMERGE2';
      ftypes[2] = 'dropdown';
  }(jQuery));
  var $mcj = jQuery.noConflict(true); 
  </script>
    
    <!--End mc_embed_signup-->
  </div>
</div>
